body {
    font-family: $primary-font;
    line-height: 1;
    color: $title-color;
    box-sizing: border-box;
    min-height: 1000px;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
}

.container {
    padding: 0;
}

.window-icon-yl {
    color: $primary-color;
    margin-right: 10px;
    font-size: 1.2rem;
    position: relative;
    top: -1px;
}

.window-icon-gr {
    @extend .window-icon-yl;
    color: $text-color;
}

.products__heading {
    @include page-title;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.text-2-line {
    display: block;
    height: 3.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.text-3-line {
    display: block;
    height: 5.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.page-direction-top {
    font: {
        family: $secondary-font;
        size: 1.4rem;
        weight: 400;
    }
    margin: 30px 0;
    line-height: 1.8rem;

    &__link {
        color: $text-color;

        &:hover {
            color: $primary-color;
        }

        &.active {
            color: $title-color;
        }
    }

    &__icon {
        color: $text-color;
        margin: 0 10px;
    }
}

.paginate {
    margin: 50px 0;

    &__page-list {
        justify-content: flex-end;
    }

    &__link {
        @include page-text;
        font-size: 1.3rem;
        border: 1px solid $semi-border;
        padding: 11px 14px;
        line-height: 1.3rem;
        margin-left: 5px;

        &:hover {
            border-color: $primary-color;
            color: $primary-color !important;
        }
    }

    &__link.active {
        color: $white !important;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.important-field-asterisk {
    color: $red;
}
