-const categoryItems = ['Máy khoan , cắt CNC','Máy in phun khổ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V', 'Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D'];
-const sidebarImgSrc = 'assets/images/products/sidebar-products/';
-const sidebarImgs = ['product1.png', 'product2.png', 'product3.png', 'product4.png', 'product5.png'];
-const blogsCategory = ["Đời sống pháp luật (5)", "Kinh tế trong nước (8)", "Sức khỏe và gia đình (9)", "Công nghệ thông tin (5)", "Tin tức khác (12)"]
-const blogTags = ["thời trang", "máy khoan", "news", "công nghiệp", "xây dựng", "phay", "máy cắt", "hóa chất"];
-const blogImgSrc = 'assets/images/blogs/';
-const blogImgs = ["blog1.jpg", "blog2.jpg", "blog3.jpg", "blog4.jpg"];
-const blogSidebarImgSrc = 'assets/images/blog-sidebar/';
-const blogSidebarImgs = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg', 'image6.jpg']

mixin productSidebarItem(item)
    li.product-sidebar__item 
        a.product-sidebar__link(href="#")
            i.fas.fa-th-large.window-icon-gr
            = item
            
mixin productItemBox(img)
    .products__item.text-center 
        .products__box 
            img.products__img(src= img, alt="product item")
            p.products__price 1.550.000 Đ
            h4.products__name Máy khoan Black Decker 
            span.products__rate 
                each i in [1, 2, 3, 4]
                    i.fas.fa-star
                i.far.fa-star
            i.products__rate-num (12 Đánh giá)
            .products__btns 
                a(href="#").products__btn--buy Mua ngay 
                a(href="product-details.html").products__btn--see-details Xem chi tiết

mixin productBestSellingBtItem(img)
    .products__item.best-sell-products__item-bt.text-center
        .products__box 
            img.products__img(src= img, alt="best selling product")
            p.products__price 1.550.000 Đ
            h4.products__name Máy khoan Black Decker 
            span.products__rate 
                each i in [1, 2, 3, 4]
                    i.fas.fa-star
                i.far.fa-star
            i.products__rate-num (12 Đánh giá)
            .products__btns 
                a(href="#").products__btn--buy Mua ngay 
                a(href="product-details.html").products__btn--see-details Xem chi tiết

mixin productNewImport(img)
    .product-list__item
        .row
            .col-md-4 
                .product-list__img
                    img(src= img, alt="product list item")
            .col-md-8 
                .product-list__content 
                    h3.product-list__name Máy khoan cnc 3D
                    span.product-list__rate 
                        each i in [1, 2, 3, 4]
                            i.fas.fa-star
                        i.far.fa-star
                    i.product-list__rate-num (12 Đánh giá)
                    p.product-list__text.text-2-line Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut rhoncus velit. In mattis hendrerit tristique. Suspendisse gravida efficitur semper. Mauris tortor purus, dignissim vitae commodo at, fermentum et libero. Duis id diam in dui lacinia dignissim at vel justo.
                    h4.product-list__price 2.350.000 Đ
                    .product-list__btns 
                        a(href="#").product-list__btn--buy Mua ngay 
                        a(href="product-details.html").product-list__btn--see-details Xem chi tiết

mixin productListFormat(img)
    .product-list__item
        .row
            .col-md-3 
                .product-list__img
                    img(src= img, alt="product list item")
            .col-md-9 
                .product-list__content 
                    h3.product-list__name Máy khoan cnc 3D
                    span.product-list__rate 
                        each i in [1, 2, 3, 4]
                            i.fas.fa-star
                        i.far.fa-star
                    i.product-list__rate-num (12 Đánh giá)
                    p.product-list__text.text-3-line Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et augue id massa volutpat rutrum. Phasellus luctus magna sapien, at eleifend tellus lacinia non. Sed tincidunt turpis nec sapien ullamcorper, in malesuada sapien vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac hendrerit diam. Aliquam hendrerit, lorem non lobortis laoreet, augue ligula imperdiet eros, eget volutpat ipsum tortor sed orci. Cras eget mi sapien. Cras sed condimentum massa, tempus luctus leo. Pellentesque hendrerit ligula eu libero placerat, quis blandit enim egestas.
                    h4.product-list__price 2.350.000 Đ
                    .product-list__btns 
                        a(href="#").product-list__btn--buy Mua ngay 
                        a(href="product-details.html").product-list__btn--see-details Xem chi tiết

mixin productSidebarPromotional(img)
    li.product-sidebar__promotional--item
        a.product-sidebar__promotional--link(href="product-details.html")
            .product-sidebar__promotional--img 
                img(src= img, alt="promotional image")
            .product-sidebar__promotional--info 
                h3.product-sidebar__promotional--name Máy khoan black decker loại 1
                p.product-sidebar__promotional--price 1.550.000 Đ

mixin productCategory 
    .product-sidebar__category
        span.product-sidebar__link.product-sidebar__title
            i.fas.fa-bars.window-icon-yl
            |Danh mục sản phẩm
        ul.product-sidebar__list 
            each item in categoryItems
                +productSidebarItem(item)

mixin sidebarPromotional 
    .product-sidebar__promotional
        span.product-sidebar__link.product-sidebar__title
            i.fas.fa-gift.window-icon-yl
            |Sản phẩm khuyến mại
        ul.product-sidebar__list 
            each item in sidebarImgs 
                +productSidebarPromotional(sidebarImgSrc+item)

mixin blogSidebar 
    .blogs-sidebar 
        +productCategory
        .blogs-category
            h4.blogs-category__title 
                i.fas.fa-th-large.window-icon-yl 
                |Danh mục tin tức
            ul.blogs-category__list 
                each item in blogsCategory      
                    li.blogs-category__item 
                        a.blogs-category__link(href="#")= item
        .blogs-images-lib 
            h4.blogs-category__title 
                i.fas.fa-th-large.window-icon-yl 
                |Thư viện hình ảnh
            .blogs-images-lib__list
                each image,i in blogSidebarImgs
                    span.blogs-images-lib__img
                        img(src=blogSidebarImgSrc+image, alt="blog sidebar "+(i+1))
        .blogs-tags
            h4.blogs-category__title 
                i.fas.fa-th-large.window-icon-yl 
                |Thẻ tags
            .blogs-tags__list
                each item in blogTags 
                    a.blogs-tags__link(href="#")= item
