.blog-details {

    &__text {
        @include page-text;
        font-size: 1.3rem;
        margin: 10px 0 15px;
    }

    &__sub-img {
        display: block;
        width: 100%;
        padding: 20px 85px;

        @include mobile {
            padding: 10px 30px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        border-bottom: 1px solid $border-color;
        margin-bottom: 40px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__footer-title {
        @include page-title;
        font-size: 1.2rem;
    }
    
    &__tags {
        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__tags-link {
        @include page-text;
        font: {
            size: 1.2rem;
            style: italic;
        }
        margin: 0 2px;

        &:hover {
            color: $primary-color !important;
        }
    }

    &__share-link {        
        @include page-text;
        font-size: 1.4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 33px;
        line-height: 1.4rem;
        border: 1px solid $border-color;
        margin-left: 5px;

        &:hover {
            color: $white !important;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }

    &__title {
        @include page-title;
        font-size: 1.4rem;
        color: $secondary-bold-color;
        margin: 40px 0;
    }
}

.blog-comment {

    &__avatar {
        border: 1px solid $border-color;
        padding: 5px;
        display: inline-block;
        width: 102px;
        height: 102px;
    }

    &__box {
        display: flex;
        margin-bottom: 50px;
    }

    &__avatar {
        margin-right: 20px;
    }

    &__content {
        flex: 1;    
    }

    &__user-name {
        @include page-title;
        font-size: 1.4rem;
        color: $black-bold-text;
        margin-bottom: 10px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        @include page-text;
        font: {
            size: 1.3rem;
            style: italic;
        }

    }

    &__reply-link {
        color: $link-bold;
        text-decoration: underline !important;
        
        &:hover {
            color:  $primary-color;
        }
    }

    &__text {
        @include page-text;
        font: {
            size: 1.3rem;
            style: italic;
        }
        margin-top: 5px;
    }

    &__reply-cmt {
        padding-left: 120px;

        @include mobile {
            padding-left: 60px;
        }
    }
}

.blog-comment-form {
    border-top: 1px solid $border-color;
    margin-bottom: 80px;

    &__title {
        margin-bottom: 20px;
    }

    &__label {
        font-size: 1.4rem;
        color: $label-color;
        display: block;
        margin: 15px 0;
    }

    &__inp {
        font-size: 1.3rem;
        border: 1px solid $border-color;
        width: 100%;
        height: 40px;
        color: $text-color;
    }

    &__message {
        width: 100%;
        border: 1px solid $border-color;
        height: 160px;
        font-size: 1.3rem;
        color: $text-color;
    }

    &__btn {
        background-color: $primary-color;
        color: $white;
        text-transform: uppercase;
        border: none;
        font-size: 1.4rem;
        padding: 15px 25px;
    }
}
