.featured-products {
    margin-top: 30px;
    
    &__list {
        @include mobile {
            margin-top: 15px;
        }
    }
}

.products {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__box {
        padding: 0 15px;
        box-shadow: 0 0 2px 1px $shadow-color;
        padding: 20px 0;
        height: 100%;
        min-height: 376px;

        &:hover {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
    }

    &__item {
        margin-bottom: 30px;

        &:hover .products__btns {
            display: block;  
        }
    }

    &__img {
        display: inline-block;
    }

    &__price {
        font: {
            size: 1.4rem;
            weight: 500;
        }
        color: $red;
        margin: 30px 0 15px 0;   
    }

    &__name {
        @include page-title;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    &__rate {
        color: $primary-color;
        font-size: 1.2rem;
        margin-right: 10px;
    }

    &__rate-num {
        @include page-text;
        font-size: 1.2rem;
        font-style: italic;
    }

    &__btns {
        margin-top: 20px;
        display: none;
    }

    &__btn--buy {
        @include btn-buy;
        font: {
            size: 1.2rem;
            weight: 500;
        }
        padding: 15px 25px;
        margin-right: 2px;
    }

    &__btn--see-details {
        @include btn-details;
        font: {
            size: 1.2rem;
            weight: 500;
        }
        padding: 15px 25px;
        margin-left: 2px;
    }
}

.product-direction {
    display: flex;

    &__type {
        margin-right: 25px;

        @include mobile {
            display: none;
        }
    }

    &__type-btn {
        @include page-text;
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding: 0px 15px;
        height: 30px;
        background-color: $white;
        border: 1px solid $text-color;
        margin-left: 10px;

        &:hover {
            color: $white;
            background-color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}

.product-direction__btn {
    font-size: 1.4rem;
    color: $text-color;
    border: 1px solid $text-color;
    background-color: $white;
    width: 30px;
    height: 30px;
    line-height: 1.4rem;
    margin-left: 5px;

    &:hover {
        color: $white;
        background-color: $secondary-bold-color;
        border-color: $secondary-bold-color;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
}

.product-sidebar {
    position: relative;

    &__list {
        @include mobile {
            display: none;
        }
    }

    &__item {
        border: 1px solid $border-color;
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid $border-color;
        }
    }

    &__link {
        @include page-text;
        font-size: 1.3rem;
        padding: 25px 20px;
        display: block;

        &:hover {
            color: $primary-color;
            background-color: $secondary-color;

            i {
                color: $primary-color;
            }
        }
    }

    &__link--st {
        border: 1px solid $border-color;
        border-bottom: none;

        @include mobile {
            border-bottom: 1px solid $border-color;
            background-color: $secondary-bold-color;
            color: $primary-color;

            i {
                color: $primary-color;
            }
        }
    }

    &__op {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 1.3rem;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
    }
}

input#productSidebarOp:checked ~ .product-sidebar__list {
    display: block;
}

.new-products {
    margin-top: 30px;

    &__list {
        margin-top: 50px;

        .products__box {
            min-height: 500px !important;
        }
    }
}

.advertisement {
    &__banner {
        background-color: $banner-background;
        padding-left: 30px; 
        margin: 10px 0;

        @include mobile {
            padding-left: 15px;
        }
    }

    &__info {
        padding: 30px 0;

        @include mobile {
            padding: 15px 0;
        }
    }

    &__name {
        font: {
            size: 4.8rem;
            weight: 900;
        }
        line-height: 4.8rem;
        text-transform: uppercase;
        color: $black-bold-text;

        @include mobile {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    &__type {
        font: {
            size: 1.4rem;
            weight: 500;
        }
        color: $bold-gray;
        text-transform: uppercase;

        @include mobile {
            font-size: 1rem;
        }
    }

    &__price {
        background-color: $primary-color;
        display: inline-block;
        font: {
            size: 2.4rem;
            weight: 700;
        }
        line-height: 2.4rem;
        padding: 10px 20px;
        margin-top: 8px;

        @include mobile {
            font-size: 1.4rem;
            line-height: 1.4rem;
            padding: 5px 10px;
            margin-top: 4px;
        }
    }

    &__text {
        font: {
            size: 1.4rem;
            weight: 500;
            style: italic;
        }
        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 1.8rem;
        margin-top: 12px;

        strong {
            color: $red;
        }

        @include mobile {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }

    &__img {
        padding: 20px;
    }

    &__sale {
        background-color: $primary-color;
        display: block;
        padding: 5px;
        width: 88px;
        height: 88px;
        position: absolute;
        top: 18px;
        right: 33px;
        text-align: center;
        color: $white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        @include mobile {
            width: 55px;
            height: 55px;
        }
        
        &-box {
            border: 1px solid $white;
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            @include mobile {
                padding: 5px 0;
            }

            p {
                font: {
                    size: 1.8rem;
                    weight: 300;
                }
                text-transform: uppercase;
                margin: 2px;

                @include mobile {
                    font-size: 1.4rem;
                }
            }

            strong {
                font: {
                    size: 2.4rem;
                    weight: 900;
                }

                @include mobile {
                    font-size: 1.6rem;
                }
            }

           
        }
    }
}

.best-sell-products {
    margin-top: 50px;

    &__list {
        padding-top: 15px;
    }

    &__side {
        @include mobile {
            display: none;
        }
    }

    &__mid--item {
        height: 100%;
    }

    &__item-bt {
        margin-bottom: 0;
    }
}

.best-sell {
    &__price {
        font-size: 1.8rem;
        margin-top: 100px;
    }

    &__name {
        font-size: 1.8rem;
        margin: 20px 0 15px;
    }
}

.advertisement-nd {
    margin-top: 60px;
   
    &__box {
        background-color: $bold-banner-background;
    }

    &__img--lt {
        padding: 28px 0 0 30px;
    }

    &__img--rt {
        padding-top: 28px;
    }

    &__content {
        padding: 25px 52px;

        @include mobile {
            padding: 25px 45px;
        }
    }

    &__name {
        font: {
            size: 3.6rem;
            weight: 900;
        }
        text-transform: uppercase;
        color: $black-bold-text;

        @include mobile {
            font-size: 2.6rem;
        }
    }

    &__text {
        font: {
            size: 1.6rem;
            weight: 300;
        }
        line-height: 2rem;
        color: $black-bold-text;

        @include mobile {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }

    &__buy {
        @include btn-buy;
        font: {
            size: 1.4rem;
            weight: 500;
        }
        line-height: 1.4rem;
        padding: 14px 22px;
        margin-right: 5px;
        border: 1px solid $primary-color;
    }

    &__details {
        color: $black-bold-text;
        font: {
            size: 1.4rem;
            weight: 500;
        }
        line-height: 1.4rem;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        padding: 14px 22px;
        margin-right: 5px;
        border: 1px solid $black-bold-text;
    }
}

.new-import-products {
    margin-top: 50px;

    &__item {
        @include mobile {
            display: none;
        }
    }

    &__item:first-child {
        @include mobile {
            display: block;
        }
    }
}

.product-list {
    
    &__item {
        box-shadow: 0 0 2px 1px $shadow-color;
        padding: 20px 10px;
        margin-bottom: 30px;

        &:hover {
            box-shadow: 0 0 5px 3px $shadow-color;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name {
        font: {
            size: 1.4rem;
            weight: 500;
        }
        text-transform: uppercase;
        margin-bottom: 10px;    
    }

    &__rate {
        color: $primary-color;
        font-size: 1.2rem;
        margin-right: 10px;
    }

    &__rate-num {
        color: $text-color;
        font: {
            size: 1.2rem;
            style: italic;
            family: $secondary-font;
        }
    }

    &__text {
        @include page-text;
        font-size: 1.3rem;
        margin-top: 15px;
    }

    &__price {
        font: {
            size: 1.8rem;
            weight: 500;
        }
        color: $red;
    }

    &__btn--buy {
        @include btn-buy;
        font: {
            size: 1.2rem;
            weight: 500;
        }
        line-height: 1.2rem;
        padding: 15px 25px;
    }

    &__btn--see-details {
        @include btn-details;
        font: {
            size: 1.2rem;
            weight: 500;
        }
        line-height: 1.2rem;
        margin-left: 5px;
        padding: 15px 25px;
    }
}

.customer {
    background-color: $third-color;
    
    &__direction {
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__direction-link {
        padding: 45px 0;
        display: inline-block;
        color: $text-color;
        font: {
            size: 3rem;
            weight: 300;
        }
    }

    &__list {
        padding: 45px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include mobile {
            justify-content: center;
        }
    }

    &__link {
        
        @include mobile {
            display: none;
        }

        &:first-child {
            @include mobile {
                display: block;
            } 
        }
    }
}

.register-receive-news {
    padding: 60px 0;
    background-image: url('../assets/images/background-form.jpg');
    object-fit: cover;

    @include mobile {
        padding: 30px 0;
        background-image: url('../assets/images/background-form-mb.jpg');
        background-size: cover;
    }

    &__text {
        font: {
            size: 2.4rem;
            weight: 300;
        }
        margin-bottom: 30px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__input {
        width: 100%;
        max-width: 620px;
        border: none;
        padding: 15px 25px;
        font: {
            size: 1.6rem;
            weight: 300;
        }
        color: $text-color;
        line-height: 1.6rem;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        @include mobile {
            text-align: center;
        }
    }

    &__btn {
        @include btn-buy;
        padding: 15px 25px;
        font: {
            size: 1.6rem;
            weight: 500;
        }
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        margin-left: 10px;

        @include mobile {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
            font-size: 1.4rem;
        }
    }
}
