extends layouts/layout

mixin productSidebarColorItem(item, color)
    li.product-sidebar__item 
        a.product-sidebar__link(href="#")
            span.product-sidebar__color-box(style="background-color: " + color)
            = item

mixin productSidebarPromotional(img)
    li.product-sidebar__promotional--item
        a.product-sidebar__promotional--link(href="#")
            .product-sidebar__promotional--img 
                img(src= img, alt="promotional image")
            .product-sidebar__promotional--info 
                h3.product-sidebar__promotional--name Máy khoan black decker loại 1
                p.product-sidebar__promotional--price 1.550.000 Đ

block vars
    -title = "Products"
    -const sidebarItems = ['Máy khoan , cắt CNC','Máy in phun khổ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alunima', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V', 'Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D'];
    -const sidebarPrices = ['0 - 200.000 Đ (45)', '200.000 Đ - 500.000 Đ (32)', '500.000 Đ - 1.000.000 Đ (27)', '1.000.000 Đ - 2.000.000 Đ (16)', 'Trên 2.000.000 Đ (9)'];
    -const sidebarColors = [{code: '#e61010', text: 'Màu đỏ (45)'}, {code: '#f5bd10', text: 'Màu vàng (32)'}, {code: '#0685ca', text: 'Màu xanh (27)'}, {code: '#acacac', text: 'Màu bạc (16)'}, {code: '#252525', text: 'Màu đen (9)'}]
    -const sidebarImgSrc = 'assets/images/products/sidebar-products/';
    -const sidebarImgs = ['product1.png', 'product2.png', 'product3.png', 'product4.png', 'product5.png'];
    -const productListImgSrc = 'assets/images/products/products-list/';
    -const productListImg = ['product-1.png', 'product-2.png', 'product-3.png', 'product-4.png', 'product-5.png', 'product-6.png', 'product-7.png', 'product-8.png', 'product-9.png'];
    -const productGridImg = ['product-1.png', 'product-2.png', 'product-3.png', 'product-4.png', 'product-5.png', 'product-6.png', 'product-7.png', 'product-8.png', 'product-9.png', 'product-10.png', 'product-11.png', 'product-12.png', 'product-13.png', 'product-14.png', 'product-15.png', 'product-16.png', 'product-17.png', 'product-18.png'];

block container
    section.product
        .container
            .col-md-12 
                .product-direction-top 
                    a.product-direction-top__link.product-direction-top__link-pr(href="index.html") Trang chủ
                    i.fas.fa-caret-right.product-direction-top__icon 
                    a.product-direction-top__link.product-direction-top__link-child.active Danh mục sản phẩm
                .row 
                    .col-md-3
                        .product-sidebar
                            .product-sidebar__category
                                span.product-sidebar__link.product-sidebar__title
                                    i.fas.fa-bars.window-icon-yl
                                    |Danh mục sản phẩm
                                label.product-sidebar__op(for="productSidebarOp") 
                                    i.fas.fa-chevron-down
                                input#productSidebarOp(type="checkbox" hidden)
                                ul.product-sidebar__list 
                                    each item in sidebarItems
                                        +productSidebarItem(item)
                            .product-sidebar__price
                                span.product-sidebar__link.product-sidebar__title
                                    i.fas.fa-dollar-sign.window-icon-yl
                                    |Tìm theo mức giá
                                label.product-sidebar__op(for="productSidebarOp") 
                                    i.fas.fa-chevron-down
                                input#productSidebarOp(type="checkbox" hidden)
                                ul.product-sidebar__list 
                                    each item in sidebarPrices
                                        +productSidebarItem(item)
                            .product-sidebar__color
                                span.product-sidebar__link.product-sidebar__title
                                    i.fas.fa-paint-brush.window-icon-yl
                                    |Tìm theo màu sắc
                                label.product-sidebar__op(for="productSidebarOp") 
                                    i.fas.fa-chevron-down
                                input#productSidebarOp(type="checkbox" hidden)
                                ul.product-sidebar__list 
                                    each item in sidebarColors
                                        +productSidebarColorItem(item.text, item.code)
                            .product-sidebar__promotional
                                span.product-sidebar__link.product-sidebar__title
                                    i.fas.fa-gift.window-icon-yl
                                    |Sản phẩm khuyến mại
                                label.product-sidebar__op(for="productSidebarOp") 
                                    i.fas.fa-chevron-down
                                input#productSidebarOp(type="checkbox" hidden)
                                ul.product-sidebar__list 
                                    each item in sidebarImgs 
                                        +productSidebarPromotional(sidebarImgSrc+item)
                    .col-md-9 
                        .product-action 
                            .product-action__function 
                                .product-action__sort
                                    span.product-action__label Sắp xếp theo: 
                                    select#productsSort.product-action__select(name="productsSort")
                                        option Tên sản phẩm 
                                        option Giá tăng dần 
                                        option Giá giảm dần
                                    i.fas.fa-sort-down.product-action__icon
                                .product-action__show 
                                    span.product-action__label Show: 
                                    select#productsShow.product-action__select(name="productsShow")
                                        option 9 
                                        option(selected) 18
                                        option 24
                                    i.fas.fa-sort-down.product-action__icon
                        input#productSwitchList(type="radio", name="productSwitch" checked hidden)
                        input#productSwitchGrid(type="radio", name="productSwitch" hidden)
                        label.product-action__switch.product-action__switch-list(for="productSwitchList") 
                            i.fas.fa-bars
                        label.product-action__switch.product-action__switch-grid(for="productSwitchGrid") 
                            i.fas.fa-th
                        .products-list__list-format
                            each item in productListImg
                                +productListFormat(productListImgSrc+item)
                        .product-list__grid-format 
                            .row
                                each item in productGridImg
                                    .col-md-4
                                        +productItemBox(productListImgSrc+item)
                        .product-paginate 
                            .col-md-12
                                .row.product-paginate__page-list 
                                    a.product-paginate__link(href="#") Trang trước
                                    a.product-paginate__link.active(href="#") 1
                                    a.product-paginate__link(href="#") 2
                                    a.product-paginate__link(href="#") 3
                                    a.product-paginate__link(href="#") Trang cuối 
