block mixins
    include ../blocks/mixins.pug
block vars 
    -title = 'Site'

doctype html
html(lang="en")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title=title
        link(rel="stylesheet", href="assets/css/reset.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
    body        
        block header
            include ../blocks/header
        block container
        block footer 
            include ../blocks/footer
        script(src="assets/js/bootstrap.min.js")
